/* CSS declarations go here */
.card-action a{
  color : #263238 !important
}
div.main{
  min-height: 66vh;
}
ul.autocomplete-content{
  position: relative!important;
  z-index: 1!important;
}
span.ligth{
  color : #bdbdbd;
}
div.card-image {
  width: 100%;
  height: 23rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div.craft-card{
  padding :0!important;
}
ul.indicators li.active{
  background-color: #e57373!important;
}
i.online{
  background-color: none!important;
  color: #9ccc65 
}