/* CSS declarations go here */
html *{
  font-family: 'Ubuntu', sans-serif;
}
.card-action a{
  color : #263238 !important
}
div.main{
  min-height: 66vh;
  margin-bottom: 0rem!important;
}
ul.autocomplete-content{
  position: absolute;
  width: 80%;
  z-index: 10!important;
}
span.ligth{
  color : #bdbdbd;
}
div.card-image {
  width: 100%;
  height: 17rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div.craft-card{
  padding :0!important;
}
ul.indicators li.active{
  background-color: #e57373!important;
}
i.online{
  background-color: none!important;
  color: #9ccc65
}
div.on-sale{
  margin-right: -0.2vw;
  border-top: 10rem solid #cddc39 ;
  border-left: 10rem solid transparent;
  width: 0;
  height: 0;
}
.ribbon {
  width: 11rem;
  height: 12rem;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: none;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 17rem;
  padding: 15px 0;
  background-color: #4db6ac;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  height: 4.5rem;
}
/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -1rem;
  top: 2rem;
  transform: rotate(45deg);
}
h5.ribbon-header{
  position: relative;
  top: -0.3rem;
  left: -1rem;
}
div.small-promo{
  font-size: x-small;
}
li.search{
  height: 4.1rem;
}
a.no-color{
  color : inherit;
}
div.card-content{
  margin-bottom: 0px!important;
}
nav.progress-nav{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.spaced{
  margin-bottom: 1rem;
}
.middle-spaced{
  margin-bottom: 0.5rem;
}
.before{
  z-index: 5;
}
.card-action{
  margin-bottom: 0rem!important;
}
.no-margin-bottom{
  margin-bottom: 0rem!important;
}
div.login{
  width: 20rem;
  margin-bottom: 1rem;
}
div.login .modal-content{
  margin-bottom: 0.5rem;
}
a.account-element{
  display: -webkit-box !important;
  height: 4.1rem;
}
div.hack{
  height:0px;
}
img.logo{
  height: 5rem;
}
ul.account-menu{
  position: fixed!important;
}
