<template name="about">
  <div class="row main">
    <div class="parallax-container">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/market-776944_1920.jpg"></div>
    </div>
    <div class="section white container">
      <h4>Acerca de Nosotros</h4>
      <p>En el Ecuaor, el campo artesnal es un secotr muy representativo con un promedio de 48 mil artesanos que generan 980 mil empleos.</p>
      <p>Craft ec es una comapñía pensada en la difusión de productos y servicios artesanales, consideramos trbabajadores artesanos a todos los productores que basen su trabajo en
        calidad y orienten su propuesta hacia la singularidad del cliente.
      </p>
      <p>Craft ec esta hecha por artesanos para artesanos</p>
    </div>
    <div class="parallax-container last">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/hat-436029_1920.jpg"></div>
    </div>
  </div>
</template>
