<template name="about">
  <div class="row main">
    <div class="grey lighten-4">
      <div class="section container">
        <div class="card">
          <div class="card-content">
            <h4>Sobre nosotros</h4>
            <h5 class="response">Craft EC es una sociedad empresarial formada por dos estudiantes universitarios, ubicados en la ciudad de Quito, cuya visión es ayudar a los artesanos, microempresarios y PYMES a publicar, levantar y desarrollar sus productos y servicios, de una manera ágil y amigable para el usuario final.
              La plataforma web de Craft EC brinda el servicio de unir a un vendedor artesano, con un potencial cliente que se interese en el crecimiento y desarrollo de una marca no industrializada y a cambio reciba un bien de su interés.</h5>
            <h5>Por otro lado, también se ofrecen servicios por contratación en la cual un trabajador artesanal podrá ofrecer sus servicios a cambio de una remuneración, todo esto abalado por la Ley de Contratación Pública del Ecuador.</h5>
            <h5>Craft EC es un proyecto nuevo en el mercado, cuya prioridad es la excelencia y la innovación de los productos o servicios que se plasman dentro de esta plataforma. Hemos desarrollado esta sociedad empresarial bajo los valores de excelencia y
              honorabilidad que caracterizan al espíritu luchador de todos los ecuatorianos. Craft EC busca afianzarse como la red número uno en el ecuador para el desarrollo del trabajo artesanal.</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container last">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/market-776944_1920.jpg"></div>
    </div>
  </div>
</template>
