<template name="account">
  <style>
    img.nav{
      height: 3rem;
      width:  3rem;
      position: relative;
      top: 0.7rem;
      margin-right: 0.5rem;
    }
    div.account-element{
      display: -webkit-box !important;
      height: 4.1rem;
      width: 7rem;
    }
    a.logout{
      margin-bottom: 0px;
    }
  </style>
  <nav>
   <div class="nav-wrapper">
     <a href="/" class="brand-logo right">Craft Work</a>
     <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li>
         <div class="account-element">
           <img class="circle nav" src="{{currentUser.profile.photo}}">
           <div class="account-label">{{currentUser.profile.name}}</div>
         </div>
       </li>
       <li><a href="/account/newItem/p">Publicar un producto</a></li>
       <li><a href="/account/newItem/s">Publicar un servicio</a></li>
       <li class="search">
         <form class="account-search-form">
          <div class="input-field">
            <input id="search" type="search" required placeholder="buscar" name="searchInput">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
          <button type="submit" name="button" hidden></button>
         </form>
       </li>
       <li ><a href="/logout" class="row logout">Salir<i class="material-icons col right small">input</i></a></li>
     </ul>
      <ul class="side-nav" id="mobile-nav">
        <li>
          <a href="/account">
            <div class="account-element">
             <img class="circle nav" src="{{currentUser.profile.photo}}">
             <div class="account-label">{{currentUser.profile.name}}</div>
           </div>
          </a>
        </li>
        <li><a href="/account/userInfo" class="collection-item">Mi perfil</a></li>
        <li><a href="/account/craft" class="collection-item">Soy Craft (artesano)</a></li>
        <li><a href="/messages" class="collection-item">{{#if unSeenRooms}}<span class="new badge">{{unSeenRooms.length}}</span>{{/if}}Mensajes</a></li>
        <li><a href="/account/newItem" class="collection-item">Nueva publicación</a></li>
        <li><a href="/account/posts" class="collection-item">Mis Publicaciones</a></li>
     </ul>
   </div>
  </nav>
  <div class="row">
    <div class="col s12 m4 l2 grey lighten-1 hide-on-med-and-down">
      <div class="options">
        <div class="collection">
          <a href="/account/userInfo" class="collection-item">Mi perfil</a>
          <a href="/account/craft" class="collection-item">Soy Craft (artesano)</a>
          <a href="/messages" class="collection-item">{{#if unSeenRooms}}<span class="new badge">{{unSeenRooms.length}}</span>{{/if}}Mensajes</a>
          <a href="/account/newItem" class="collection-item">Nueva publicación</a>
          <a href="/account/posts" class="collection-item">Mis Publicaciones</a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l9 offset-l1 offset-m1">
      {{> yield "section"}}
    </div>
  </div>
  {{> footer}}
</template>
