<template name="craftInfo">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjTF6xXTHgzP9UoIcq_abU1Gb8smcybbA&libraries=places&callback=initAutocomplete"
	async defer></script>
	<script type="text/javascript">
		var placeSearch, autocomplete;
		function initAutocomplete() {
		  autocomplete = new google.maps.places.Autocomplete((document.getElementById('city')),{types: ['(cities)'],componentRestrictions: {country: "ec"}});
		  autocomplete.addListener('place_changed', fillInAddress);
		}
		function fillInAddress() {
		  var place = autocomplete.getPlace();
		  if(!place.geometry)return document.getElementById('placeId').value = null;
		  document.getElementById('placeId').value = place.place_id;
		}
	</script>
	<style>
		div.craft-photo{
      margin-top: -1rem;
      margin-bottom: -1.5rem;
    }
    div.craft-photo div.upload-craftPhoto{
      margin-top: -1.1rem;
      height: 2.5rem;
    }
    .card-action a.crafterInfoButton{
      margin-left: 0.5rem;
    }
    div.craft-img {
      height: 14rem;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin-bottom: 1rem;
    }
    div.switch{
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
		div.craft-card{
			margin-top: 1rem;
		}
	</style>
	<div class="main row">
      <div id="craft" class="card white craft-card col s12 m12 l7 xl6 " >
        <div class="card-content white darken-1 row">
					<h4 class="col m12">Información de Artesano</h4>
					<span class="red-text">*campo obligatorio</span>
          <form id="craftInfoForm">
            <div class="row col m12 s12">
              <div class="input-field ">
                <input id="name" type="text" class="validate" required name="name" value="{{currentUser.profile.craft.name}}">
                <label class="active" for="name">*Nombre artesanal / empresa</label>
              </div>
            </div>
            <div class="row col m12 s12">
              <div class="input-field ">
                <textarea id="description" type="text" placeholder="Qué ofreces?" class="materialize-textarea" required name="description" data-length="120" value="{{currentUser.profile.craft.description}}"></textarea>
                <label class="active" for="description">*Describelo</label>
              </div>
            </div>
            <div class="row col m12 s12">
              <div class="input-field ">
                <input id="city" type="text" class="validate" required name="city" value="{{currentUser.profile.craft.city}}">
                <label class="active" for="city">*Ciudad</label>
              </div>
            </div>
            <div class="row col m12 s12">
              <div class="input-field ">
                <input id="address" type="text" class="validate" required name="address" value="{{currentUser.profile.craft.address}}">
                <label class="active" for="address">*Direccion</label>
              </div>
            </div>
            <div class="row col m12 s12">
              <div class="input-field ">
								<i class="material-icons prefix">call</i>
                <input id="movil" type="tel" class="validate" required name="movil" value="{{currentUser.profile.craft.movil}}" pattern="[0-9]{1,10}">
                <label class="active" for="movil" data-error="solo números" data-success="correcto">*Teléfono</label>
              </div>
            </div>
            <div class="row col m12 s12">
              <div class="input-field ">
								<i class="mdi mdi-cellphone-iphone prefix"></i>
                <input id="telephone" type="tel" class="validate" name="telephone" value="{{currentUser.profile.craft.telephone}}" pattern="[0-9]{1,10}">
                <label class="active" for="telephone" data-error="solo números" data-success="correcto">Teléfono secundario</label>
              </div>
            </div>
            <div class="row col m12 s12">
              <div class="input-field ">
								<i class="material-icons prefix">language</i>
                <input id="webPage" type="text" class="validate" name="webPage" value="{{currentUser.profile.craft.webPage}}">
                <label class="active" for="webPage">P@gina web</label>
              </div>
            </div>
            <div class="row col m12 s12">
              <div class="input-field ">
								<i class="mdi mdi-facebook-box prefix"></i>
                <input id="facebook" type="text" class="validate" name="facebook" value="{{currentUser.profile.craft.facebook}}">
                <label class="active" for="facebook">Facebook</label>
              </div>
            </div>
            <div class="row col m12 s12">
              <div class="input-field ">
								<i class="mdi mdi-instagram prefix"></i>
                <input id="instagram" type="text" class="validate" name="instagram" value="{{currentUser.profile.craft.instagram}}">
                <label class="active" for="instagram">Instagram</label>
              </div>
            </div>
            <div class="row craft-photo col m12 s12">
              <span class="ligth grey-text photo col m12">Foto</span>
              <div class="col s12 craft-img center-align" style="background-image : url('{{currentUser.profile.craft.photo}}')"></div>
              {{#if uploadCraftProgress}}
                <div class="progress class col s12">
                  <div class="determinate" style="width: {{uploadCraftProgress}}%"></div>
                </div>
              {{/if}}
              <div class="row s12 col m12">
                <div class="file-field input-field col m4 s6">
                   <div class="btn col upload-craftPhoto">
                     <span>Cambiar</span>
                     <input  type="file" id="craftPhotoInput" name="photo">
                   </div>
                   <div class="file-path-wrapper col" hidden>
                     <input class="file-path validate" type="text">
                   </div>
                </div>
                {{#if canDeleteCraft}}
                  <a class="waves-effect waves-light orange darken-3 btn col m3 s6 delete-craftPhoto">borrar</a>
                {{/if}}
              </div>
            </div>
            <input type="text" name="placeId" hidden id="placeId" class="validate" value="{{currentUser.profile.craft.placeId}}">
            <button id="crafterInfoFormButton" hidden type="submit" name="action">Submit</button>
          </form>
        </div>
        <div class="card-action">
          <a class="crafterInfoButton waves-effect waves-teal btn-flat">Actualizar</a>
        </div>
      </div>
	</div>
</template>
