<template name="faq">
  <style media="screen">
    p.response{
      margin-bottom: 2rem!important;
    }
  </style>
  <div class="row main">
    <div class="grey lighten-4">
      <div class="section container">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Preguntas Frecuentes</span>
            <br>
            <h6>QUE PUEDO VENDER?</h6>
            <p class="response">Cualquier producto o servicio que sea artesanal, para Craft EC un producto artesanal se refiere tanto al trabajo del artesano como al objeto o producto obtenido. </p>
            <h6>CUANTO DINERO PUEDO GANAR?</h6>
            <p class="response">Depende completamente de ti! Craft EC es una plataforma que te ayuda a impulsar tu producto en todo el país, pero el precio depende completamente del vendedor.</p>
            <h6>CUANTO CUESTA LA SUSCRIPCION?</h6>
            <p class="response">Es completamente gratis! Unirte a nuestra red es gratis y depende de ti la valoración que den los clientes. Sin embargo si deseas que tu producto se muestre en la página principal, tenemos algunos planes de pago que puedes ver aquí.</p>
            <h6>COMO PAGO LOS PLANES DE CRAFT EC?</h6>
            <p class="response">Utilizamos un método de transacción mediante tarjeta de crédito. Este servicio es dado por www.kushkipagos.com</p>
            <h6>COMO RECIBO MI PAGO?</h6>
            <p class="response">  Puedes recibir tu pago de la manera que tú precises. Puede ser mediante depósito bancario a tu cuenta personas (no muy recomendado) o mediante el uso de tarjeta de crédito. Todo esto será depositado a tu cuenta y se cobrará una tarifa de servicios.</p>
            <h6>ES UNA PLATAFORMA SEGURA?</h6>
            <p class="response">Es una plataforma muy segura, pues trabajamos con estándares de seguridad internacionales.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container last">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/market-776944_1920.jpg"></div>
    </div>
  </div>
</template>
