<template name="faq">
  <div class="row main">
    <div class="parallax-container">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/market-776944_1920.jpg"></div>
    </div>
    <div class="section white container">
      <h4>Preguntas Frecuentes</h4>
      <h5>Tengo que pagar para poder publicar mis productos?</h5>
      <p>Nunca
      </p>
      <p>fin.</p>
    </div>
    <div class="parallax-container last">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/hat-436029_1920.jpg"></div>
    </div>
  </div>
</template>
