<template name="homeTemplate">
  <style media="screen">
    div.slider {
      height: 34rem!important;
    }
    ul.slides {
      height: 34rem!important;
    }
    form.recoverPass {
      margin-top: 2rem;
      height: 5rem;
    }
    div.recoverPassModal{
      width: 25rem;
    }
    h1.main-title{
      font-size: 10rem;
    }
    img.main-slides{
      filter: opacity(0.8);
    }
    img.main-slides-2{
      filter: opacity(0.7);
    }
    a.register-button{
      border-color: white!important;
      color: white;
      height: 100%;
    }
    a.bordered{
      border: solid;
    }
    a.unbordered{
      border: none
    }
    div.search-section{
      height: 22rem;
    }
    div.search-section div.container{
      margin-top: 3.5rem;
    }
    div.post-card{
      height: 34rem;
    }
    ul.indicators{
      display : none;
    }
    a.quick img{
      width: 100%;
      height: 13vw;
    }
    img.small-quick{
      width: 100%;
      height: 25vw!important;
    }
    a.quick h6{
      position: relative;
      height: 1.6rem;
      bottom: 2.5rem;
      background: rgba(0,0,0,0.5)!important;
    }
    img.opaque{
      opacity : 0.8;
    }
    ul.main-slider{
      margin-top: -5rem!important;
    }
    div.slide-text{
      position: relative;
      top: -30rem;
    }
  </style>
  <div class="slider ">
    <ul class="slides main-slider white-text">
      <li>
        <img class="main-slides" src="https://s3.us-east-2.amazonaws.com/craft-work/craft-1892620_1920.jpg">
        <div class="slide-text center-align hide-on-med-and-down">
          <h1 class="main-title">CRAFT EC</h1>
          <h3 class="light grey-text text-lighten-3">La primera red artesanal de Ecuador</h3>
          <a href="/register" class="waves-effect waves-light btn-flat register-button"><h4>Ingresa ya</h4></a>
        </div>
        <div class="slide-text center-align hide-on-large-only">
          <h2 class="main-title">CRAFT EC</h2>
          <h3 class="light grey-text text-lighten-3">La primera red artesanal de Ecuador</h3>
          <a href="/register" class="waves-effect waves-light btn-flat register-button">Ingresa ya</a>
        </div>
      </li>
      <li>
        <img class="main-slides" src="https://s3.us-east-2.amazonaws.com/craft-work/ecuador-917049_1920.jpg">
        <div class="slide-text center-align hide-on-med-and-down">
          <h1 class="main-title">CRAFT EC</h1>
          <h3 class="light grey-text text-lighten-3">La primera red artesanal de Ecuador</h3>
          <a href="/register" class="waves-effect waves-light btn-flat register-button"><h4>Ingresa ya</h4></a>
        </div>
        <div class="slide-text center-align hide-on-large-only">
          <h2 class="main-title">CRAFT EC</h2>
          <h3 class="light grey-text text-lighten-3">La primera red artesanal de Ecuador</h3>
          <a href="/register" class="waves-effect waves-light btn-flat register-button">Ingresa ya</a>
        </div>
      </li>
      <li>
        <img src="https://s3.us-east-2.amazonaws.com/craft-work/shane-albuquerque-120447.jpg">
        <div class="slide-text center-align hide-on-med-and-down">
          <h1 class="main-title">CRAFT EC</h1>
          <h3 class="light grey-text text-lighten-3">La primera red artesanal de Ecuador</h3>
          <a href="/register" class="waves-effect waves-light btn-flat register-button"><h4>Ingresa ya</h4></a>
        </div>
        <div class="slide-text center-align hide-on-large-only">
          <h2 class="main-title">CRAFT EC</h2>
          <h3 class="light grey-text text-lighten-3">La primera red artesanal de Ecuador</h3>
          <a href="/register" class="waves-effect waves-light btn-flat register-button">Ingresa ya</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="section grey lighten-4 search-section">
    <div class="row container">
      <h2 class="header center-align col m12 hide-on-med-and-down">Busca Productos Y Servicios</h2>
      <h4 class="header hide-on-large-only search-label">Busca Productos Y Servicios</h4>
      <div class="col center-align m12">
        {{> searchBar button=true}}
      </div>
    </div>
  </div>
  <div class="section grey lighten-4 common-searchs">
    <div class="row hide-on-small-only">
      <h2 class="header m12 center-align hide-on-med-and-down">Búsqueda Rápida</h2>
      <h3 class="header m12 hide-on-large-only">Búsqueda Rápida</h3>
      <a href="/search?criteria=joyas+artesanales&labels%5B%5D=soluciones&labels%5B%5D=software&labels%5B%5D=computadoras" class="col m3 s6 quick">
        <img class="opaque quick" src="https://s3.us-east-2.amazonaws.com/craft-work/SOFT.jpg">
        <h6 class="card-title white-text center-align valign-wrapper">Soluciones Teconológicas</h6>
      </a>
      <a href="/search?criteria=imagen+diseño&labels%5B%5D=diseño%20grafico&labels%5B%5D=imagen" class="col m3 s6 quick">
        <img class="opaque quick" src="https://s3.us-east-2.amazonaws.com/craft-work/image.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Ilustracion y diseño</h6>
      </a>
      <a href="/search?criteria=alimentos+bebidas&labels%5B%5D=alimentos&labels%5B%5D=bebidas" class="col m3 s6 quick">
        <img class="opaque quick" src="https://s3.us-east-2.amazonaws.com/craft-work/F%26D.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Alimentos y bebidas</h6>
      </a>
      <a href="/search?criteria=joyas+accesorios&labels%5B%5D=joyas&labels%5B%5D=accesorios" class="col m3 s6 quick">
        <img class="opaque quick" src="https://s3.us-east-2.amazonaws.com/craft-work/JOYA.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Joyas y accesorios</h6>
      </a>
      <a href="/search?criteria=musica+entretenimiento&labels%5B%5D=musica&labels%5B%5D=entretenimiento" class="col m3 s6 quick">
        <img class="opaque quick" src="https://s3.us-east-2.amazonaws.com/craft-work/M%26E.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Música y entretenimiento</h6>
      </a>
      <a href="/search?criteria=vestimenta+ropa&labels%5B%5D=vestimenta&labels%5B%5D=ropa" class="col m3 s6 quick">
        <img class="opaque quick" src="https://s3.us-east-2.amazonaws.com/craft-work/ROPA.jpg">
        <h6 class="card-title white-text center-align valign-wrapper">Vestimenta</h6>
      </a>
      <a href="/search?criteria=servicios+artesanales&labels%5B%5D=servicios&labels%5B%5D=artesanales" class="col m3 s6 quick">
        <img class="opaque quick" src="https://s3.us-east-2.amazonaws.com/craft-work/S-A.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Serivicios Artesanales</h6>
      </a>
      <a href="/search?criteria=casa+decoracion&labels%5B%5D=casa&labels%5B%5D=decoracion" class="col m3 s6 quick">
        <img class="opaque quick" src="https://s3.us-east-2.amazonaws.com/craft-work/CYD.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Serivicios Artesanales</h6>
      </a>
    </div>
    <div class="row hide-on-med-and-up">
      <h2 class="header m12 center-align hide-on-med-and-down">Búsqueda Rápida</h2>
      <h3 class="header m12 hide-on-large-only">Búsqueda Rápida</h3>
      <a href="/search?criteria=joyas+artesanales&labels%5B%5D=soluciones&labels%5B%5D=software&labels%5B%5D=computadoras" class="col m3 s6 quick">
        <img class="opaque small-quick" src="https://s3.us-east-2.amazonaws.com/craft-work/SOFT.jpg">
        <h6 class="card-title white-text center-align valign-wrapper">Soluciones Teconológicas</h6>
      </a>
      <a href="/search?criteria=imagen+diseño&labels%5B%5D=diseño%20grafico&labels%5B%5D=imagen" class="col m3 s6 quick">
        <img class="opaque small-quick" src="https://s3.us-east-2.amazonaws.com/craft-work/image.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Ilustracion y diseño</h6>
      </a>
      <a href="/search?criteria=alimentos+bebidas&labels%5B%5D=alimentos&labels%5B%5D=bebidas" class="col m3 s6 quick">
        <img class="opaque small-quick" src="https://s3.us-east-2.amazonaws.com/craft-work/F%26D.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Alimentos y bebidas</h6>
      </a>
      <a href="/search?criteria=joyas+accesorios&labels%5B%5D=joyas&labels%5B%5D=accesorios" class="col m3 s6 quick">
        <img class="opaque small-quick" src="https://s3.us-east-2.amazonaws.com/craft-work/JOYA.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Joyas y accesorios</h6>
      </a>
      <a href="/search?criteria=musica+entretenimiento&labels%5B%5D=musica&labels%5B%5D=entretenimiento" class="col m3 s6 quick">
        <img class="opaque small-quick" src="https://s3.us-east-2.amazonaws.com/craft-work/M%26E.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Música y entretenimiento</h6>
      </a>
      <a href="/search?criteria=vestimenta+ropa&labels%5B%5D=vestimenta&labels%5B%5D=ropa" class="col m3 s6 quick">
        <img class="opaque small-quick" src="https://s3.us-east-2.amazonaws.com/craft-work/ROPA.jpg">
        <h6 class="card-title white-text center-align valign-wrapper">Vestimenta</h6>
      </a>
      <a href="/search?criteria=servicios+artesanales&labels%5B%5D=servicios&labels%5B%5D=artesanales" class="col m3 s6 quick">
        <img class="opaque small-quick" src="https://s3.us-east-2.amazonaws.com/craft-work/S-A.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Serivicios Artesanales</h6>
      </a>
      <a href="/search?criteria=casa+decoracion&labels%5B%5D=casa&labels%5B%5D=decoracion" class="col m3 s6 quick">
        <img class="opaque small-quick" src="https://s3.us-east-2.amazonaws.com/craft-work/CYD.jpeg">
        <h6 class="card-title white-text center-align valign-wrapper">Serivicios Artesanales</h6>
      </a>
    </div>
  </div>
  <div class="section deep-orange lighten-2 last-products">
    <div class="row container">
      <h2 class="header m12 center-align white-text hide-on-med-and-down">Últimos Productos</h2>
      <h3 class="header m12 white-text hide-on-large-only">Últimos Productos</h3>
      {{#each lastProducts}}
        <div class="col l4 m5 s12">
          <div class="post-card">
            {{> postCard post=this}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="section grey lighten-4">
    <div class="row container">
      <h2 class="header m12 center-align hide-on-med-and-down">Servicios Destacados</h2>
      <h3 class="header m12 hide-on-large-only">Servicios Destacados</h3>
      <!-- <div class="col l4 m5 s12">
        <div class="post-card">
          {{> postCard post=mine}}
        </div>
      </div> -->
      {{#each lastServices}}
        <div class="col l4 m5 s12">
          <div class="post-card">
            {{> postCard post=this}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div id="recoverPassModal" class="modal recoverPassModal">
    <div class="modal-content row">
        {{#if tokenExpired}}
          Tu token ha expirado =(, vuelve a intentarlo.
        {{else}}
          <h5>Ingresa tu nueva contraseña</h5>
          <form id="recoverPassForm" class="recoverPass">
            <div class="input-field">
              <input id="password" type="text" class="validate col m12" required name="password">
              <label for="password">Contraseña</label>
            </div>
            <button class="waves-effect waves-light btn col m4" type="submit">Cambiar</button>
          </form>
        {{/if}}
    </div>
  </div>
  <div id="comfirmedMailModal" class="modal recoverPassModal">
    <div class="modal-content">
      <h5>Tu mail ha sido verificado! Felicitaciones</h5>
    </div>
  </div>
</template>
