<template name="homeLayout">
  <style media="screen">
    div.slider {
      height: 45rem!important;
    }
    ul.slides {
      height: 42rem!important;
    }
    form.recoverPass {
      margin-top: 2rem;
      height: 5rem;
    }
    div.recoverPassModal{
      width: 25rem;
    }
    h1.main-title{
      font-size: 12rem;
    }
    img.main-slides{
      filter: opacity(0.8);
    }
    img.main-slides-2{
      filter: opacity(0.7);
    }
    a.register-button{
      border-color: white!important;
      color: white;
      height: 100%;
    }
    a.bordered{
      border: solid;
    }
    a.unbordered{
      border: none
    }
    div.search-section{
      height: 22rem;
    }
    div.last-products{
      background-image: url('https://s3.us-east-2.amazonaws.com/craft-work/green-1846861_1920.jpg');
    }
    div.search-section div.container{
      margin-top: 5rem;
    }
    div.post-card{
      height: 34rem;
    }
    div.common-searchs{
      background-image: url('https://s3.us-east-2.amazonaws.com/craft-work/green-1846861_1920.jpg');
    }
  </style>
  <div class="slider">
    <ul class="slides">
      <li>
        <img class="main-slides" src="https://s3.us-east-2.amazonaws.com/craft-work/craft-1892620_1920.jpg">
        <div class="caption center-align hide-on-med-and-down">
          <h1 class="main-title">CRAFT EC</h1>
          <h2 class="light grey-text text-lighten-3">La primera red artesanal de Ecuador</h2>
          <a href="/register" class="waves-effect waves-light btn-flat register-button"><h4>Ingresa ya</h4></a>
        </div>
        <div class="caption center-align hide-on-large-only">
          <h2 class="main-title">CRAFT EC</h2>
          <h3 class="light grey-text text-lighten-3">La primera red artesanal de Ecuador</h3>
          <a href="/register" class="waves-effect waves-light btn-flat register-button">Ingresa ya</a>
        </div>
      </li>
      <li>
        <img class="main-slides" src="https://s3.us-east-2.amazonaws.com/craft-work/ecuador-917049_1920.jpg">
        <div class="caption right-align slides-promo  hide-on-med-and-down">
          <h1>Incrementa tus ventas</h1>
          <h3 class="light grey-text text-lighten-3">Hazte conocer a travez de esta plataforma</h3>
        </div>
        <div class="caption right-align slides-promo hide-on-large-only">
          <h2>Incrementa tus ventas</h2>
          <h4 class="light grey-text text-lighten-3">Hazte conocer a travez de esta plataforma</h4>
        </div>
      </li>
      <li>
        <img src="https://s3.us-east-2.amazonaws.com/craft-work/shane-albuquerque-120447.jpg">
        <div class="caption left-align hide-on-med-and-down">
          <h1>Escoge la mejor opción</h1>
          <h3 class="light grey-text text-lighten-3">Elije entre cientos de productos y sirvicios artesanales</h3>
        </div>
        <div class="caption left-align hide-on-large-only">
          <h2>Escoge la mejor opción</h2>
          <h4 class="light grey-text text-lighten-3">Elije entre cientos de productos y sirvicios artesanales</h4>
        </div>
      </li>
    </ul>
  </div>
  <div class="section white search-section">
    <div class="row container">
      <h2 class="header hide-on-med-and-down">Busca productos y servicios</h2>
      <h4 class="header hide-on-large-only">Busca productos y servicios</h4>
      {{> searchBar}}
    </div>
  </div>
  <div class="section orange lighten-4 last-products">
    <div class="row container">
      <h2 class="header m12 white-text hide-on-med-and-down">Ultimos productos</h2>
      <h3 class="header m12 white-text hide-on-large-only">Ultimos productos</h3>
      {{#each lastProducts}}
        <div class="col l4 m5 s12">
          <div class="post-card">
            {{> postCard post=this}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="section wihte ">
    <div class="row container">
      <h2 class="header m12 hide-on-med-and-down">Servicios Destacados</h2>
      <h3 class="header m12 hide-on-large-only">Servicios Destacados</h3>
      <!-- <div class="col l4 m5 s12">
        <div class="post-card">
          {{> postCard post=mine}}
        </div>
      </div> -->
      {{#each lastServices}}
        <div class="col l4 m5 s12">
          <div class="post-card">
            {{> postCard post=this}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="section white-text common-searchs">
    <div class="row container">
      <h2 class="header m12 hide-on-med-and-down">Búsqueda rápida</h2>
      <h3 class="header m12 hide-on-large-only">Búsqueda rápida</h3>
      <a class="col m3 s6 no-color" href="/search?criteria=sombrero+de+paja+toquilla&labels%5B%5D=sombrero&labels%5B%5D=paja&labels%5B%5D=toquilla">Sombreros de paja toquilla</a>
      <a class="col m3 s6 no-color" href="/search?criteria=joyas+artesanales&labels%5B%5D=joyas&labels%5B%5D=artesanales">Joyas artesanales</a>
      <a class="col m3 s6 no-color" href="/search?criteria=desodorante+artesanal&labels%5B%5D=desodorante&labels%5B%5D=artesanal">Desodorante artesanal</a>
      <a class="col m3 s6 no-color" href="/search?criteria=caramelos+artesanales&labels%5B%5D=caramelos&labels%5B%5D=artesanales">Caramelos artesanales</a>
      <a class="col m3 s6 no-color" href="/search?criteria=mermelada+artesanales&labels%5B%5D=mermelada&labels%5B%5D=artesanales">Mermelada artesanal</a>
      <a class="col m3 s6 no-color" href="/search?criteria=pinturas+cuadros&labels%5B%5D=arte&labels%5B%5D=pinturas">Pinturas</a>
      <a class="col m3 s6 no-color" href="/search?criteria=servicio+de+soluciones+informaticas&labels%5B%5D=software&labels%5B%5D=soluciones">Servicios de Soluciones Informáticas</a>
      <a class="col m3 s6 no-color" href="/search?criteria=diseño gráfico&labels%5B%5D=diseño&labels%5B%5D=soluciones&labels%5B%5D=grafico">Servicios de Diseño Gráfico</a>
    </div>
  </div>
  <div id="recoverPassModal" class="modal recoverPassModal">
    <div class="modal-content row">
        {{#if tokenExpired}}
          Tu token ha expirado =(, vuelve a intentarlo.
        {{else}}
          <h5>Ingresa tu nueva contraseña</h5>
          <form id="recoverPassForm" class="recoverPass">
            <div class="input-field">
              <input id="password" type="text" class="validate col m12" required name="password">
              <label for="password">Contraseña</label>
            </div>
            <button class="waves-effect waves-light btn col m4" type="submit">Cambiar</button>
          </form>
        {{/if}}
    </div>
  </div>
  <div id="comfirmedMailModal" class="modal recoverPassModal">
    <div class="modal-content">
      <h5>Tu mail ha sido verificado! Felicitaciones</h5>
    </div>
  </div>
</template>
