<template name="homePageLayout">
  <style media="screen">
    img.nav{
      height: 3rem;
      width:  3rem;
      position: relative;
      top: 0.7rem;
    }
    img.side{
      height: 4rem;
      width:  4rem;
      position: relative;
      top: 0.7rem;
    }
    div.account-label{
      margin-left: 0.7rem;
    }
    a.account-element-side{
      display: -webkit-box !important;
      height: 100% !important;
    }
    div.account-label-side{
      margin-left: 1rem;
      margin-top: 1rem;
    }
    li.side{
      margin-bottom: 0px;
    }
    span.unseen{
      position: relative;
      top: 1.2rem;
      left: -0.5rem;
    }
    li.unseen{
      margin-bottom: 0px!important;
    }
    li.account-li{
      height: 3rem;
    }
    nav.colored{
      background-color: #ff7043!important;
    }
    ul.slides{
      margin-top: -5rem!important;
    }
    nav.main-nav{
      box-shadow: none;
    }
  </style>
  <div class="navbar-fixed">
    <nav class="main-nav transparent">
     <div class="nav-wrapper">
       <a href="/" class="brand-logo right"><img class="logo" src="/icon.png"></a>
       <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul class="left hide-on-med-and-down">
         {{#if currentUser}}
           <li>
            {{> accountButtonTemplate}}
           </li>
           <li class="row unseen"><a href="/messages" ><i class="large material-icons col ">email</i>{{#if unSeenRooms}}<span class="new badge col unseen pulse">{{unSeenRooms.length}}</span>{{/if}}</a></li>
         {{else}}
           <li><a href="#loginModal">Ingresar</a></li>
           <li><a href="/register">Registrarse</a></li>
         {{/if}}
         <li><a href="/account/newItem">Nueva publicacion</a></li>
         <li class="search">
           <form class="mainLayout-search-form">
            <div class="input-field">
              <input id="search" type="search" required placeholder="buscar" name="searchInput">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
            <button type="submit" name="button" hidden></button>
           </form>
         </li>
       </ul>
     </div>
    </nav>
  </div>
  <a class="dropdown-button hack" href="#!" data-activates="accountButtonContent"></a>
  <ul class="side-nav" id="mobile-nav">
    {{#if currentUser}}
      <li class="row side">
        {{> accountButtonTemplateSide}}
      </li>
      <li class="row unseen">
        <a href="/messages" class="row">
          <i class="material-icons col left">email</i>
          <div class="col">Mensajes{{#if unSeenRooms}}<span class="new badge">{{unSeenRooms.length}}</span>{{/if}}</div>
        </a>
      </li>
      <li><a href="/account/posts">Mis Publicaciones</a></li>
    {{else}}
      <li><a href="#loginModal">Ingresar</a></li>
      <li><a href="/register">Registrarse</a></li>
    {{/if}}
     <li class="search teal accent-4">
        <form class="mainLayout-search-form">
         <div class="input-field">
           <input id="search" type="search" required placeholder="buscar" name="searchInput">
           <label class="label-icon" for="search"><i class="material-icons">search</i></label>
           <i class="material-icons">close</i>
         </div>
         <button type="submit" name="button" hidden></button>
        </form>
     </li>
    <li><a href="/account/newItem">Nueva publicacion</a></li>
    {{#if currentUser}}
     <li><a href="/logout">Salir</a></li>
    {{/if}}
  </ul>
  <ul id="accountButtonContent" class="dropdown-content account-menu">
     <li><a href="/account">mi cuenta</a></li>
     <li><a href="/logout">salir</a></li>
  </ul>
  {{> yield}}
  <div id="loginModal" class="modal login">
    <div class="modal-content">
        {{> login}}
    </div>
  </div>
  {{> footer}}
</template>
