<template name="login">
  <style media="screen">
    i.facebook{
      color : #3b5998;
      margin-top: 10px;
    }
    div.actions{
      margin-top: 3rem;
      margin-bottom: 0px;
    }
    div.loginDiv {
      margin-bottom: 0px;
      color: black;
    }
    div.loginDiv div.pass{
      height: 2rem;
    }
    div.collapsibleDiv{
      margin-top: 2rem;
      height: 3rem;
    }
    div.forgot{
      margin-top: 1rem;
      max-height: 9rem;
    }
  </style>
  <h4 class="col s12">Ingresar</h4>
  <div class="loginDiv row">
    <form class="loginForm">
      <div class="col s12">
        <div class="input-field">
          <input id="email" type="email" class="validate" required name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="col s12 pass">
        <div class="input-field">
          <input id="password" type="password" class="validate" required name="password">
          <label for="password">Contraseña</label>
        </div>
      </div>
      <div class="row col s12 actions ">
        <button class="btn waves-effect waves-light col" type="submit" name="action">Entrar</button>
        <div class="col">
          o usa <i class="mdi mdi-facebook-box facebook small"></i>
        </div>
      </div>
    </form>
    <div class="col s12 forgot row">
      <a class="forgot">Olvide mi contraseña?</a>
      <div hidden class="collapsibleDiv row animated bounceOutUp">
        <form class="forgotPass">
          <div class="input-field">
            <input id="passEmail" type="email" class="validate" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <label class="active" for="passEmail" data-error="dirección invalida" data-success="correcto">Correo</label>
          </div>
          <button class="waves-effect waves-light btn recoverPass" type="submit">Recuperar</button>
        </form>
      </div>
    </div>
  </div>
</template>
