<template name="messages">
  <style>
    img.user-room{
      height: 3rem;
      width: 3rem;
    }
    div.messages-box{
      overflow-y: auto;
      max-height: 50vh;
      margin-bottom: -5rem !important;
    }
    pre{
      white-space:pre-wrap;
    }
    span.date{
      position: relative;
    }
    div.main{
      min-height: 68vh;
    }
  </style>
  <div class="row main">
    <div class="col m3 grey lighten-1 row">
      <div class="collection">
        {{#each userRooms}}
          <a href="/messages/{{user._id}}" class="collection-item">{{#if unseen}}<span class="new badge"></span>{{/if}}<img src="{{user.profile.photo}}" class="circle user-room"> {{user.profile.name}} {{user.profile.lastName}}</a>
        {{/each}}
      </div>
    </div>
    {{#if userReciver}}
      <div class="col m9 row">
        <div class="card m9 row">
            <img src="{{userReciver.profile.photo}}" class="circle user-room rigth-align">
            <div class="col">
              {{userReciver.profile.name}}{{userReciver.profile.lastName}}
            </div>
        </div>
        <div>
          <div id="messagesDiv" class="row messages-box">
            {{#unless messages}}
              <h5>Aun no haz comenzado la conversación, podrías decir hola</h5>
            {{/unless}}
            {{#each messages}}
              {{#if transmiter}}
                <div class="row col m12">
                  <div class="col m5"></div>
                  <div class="col m4 card row message-card" data-tooltip="{{date}}" data-position="left">
                    <pre class="col m10">{{content}}</pre>
                  </div>
                  <span class="date rigth-align" hidden id="thaspan">{{date}}</span>
                </div>
              {{else}}
              <div class="row col m12">
                <div class="col m4 card message-card" data-tooltip="{{date}}" data-position="right">
                  <pre>{{content}}</pre>
                </div>
                <div class="col m7"></div>
              </div>
              {{/if}}
            {{/each}}
          </div>
          {{> newMessage}}
        </div>
      </div>
    {{else}}
      <h5 class="col m9">Selecciona alguna conversacion para ver los mensajes</h5>
    {{/if}}
  </div>
</template>
