<template name="messagesLayout">
  <style>
    img.nav{
      height: 3rem;
      width:  3rem;
      position: relative;
      top: 0.7rem;
      margin-right: 0.5rem;
    }
    div.account-element{
      display: -webkit-box !important;
      height: 4.1rem;
      width: 7rem;
    }
    a.logout{
      margin-bottom: 0px;
    }
    i.tiny{
    	font-size: 1rem!important;
    }
  </style>
  <nav class="deep-orange lighten-1">
   <div class="nav-wrapper">
     <a href="/" class="brand-logo right"><img class="logo" src="/logo.png"></a>
     <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li>
         <a href="/account">
           <div class="account-element">
               <img class="circle nav" src="{{currentUser.profile.photo}}">
               <div class="account-label">{{currentUser.profile.name}}</div>
           </div>
         </a>
       </li>
       <li><a href="/account/newItem/p">Publicar un producto</a></li>
       <li><a href="/account/newItem/s">Publicar un servicio</a></li>
       <li class="search">
         <form class="account-search-form">
          <div class="input-field">
            <input id="search" type="search" required placeholder="buscar" name="searchInput">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
          <button type="submit" name="button" hidden></button>
         </form>
       </li>
       <li ><a href="/logout" class="row logout">Salir<i class="material-icons col right small">input</i></a></li>
     </ul>
      <ul class="side-nav" id="mobile-nav">
		    <li>
	          <a href="/account">
	            <div class="account-element">
	             <img class="circle nav" src="{{currentUser.profile.photo}}">
	             <div class="account-label">{{currentUser.profile.name}}</div>
	           </div>
	          </a>
	        </li>
          {{#if userRooms}}
            <li><h5 class="col m12 black-text">Conversaciones</h5></li>
          {{else}}
          	<li>
          		<h6 class="col m12  black-text"> Aqui van tus conversaciones
	              <h6 class="col m12  black-text"><a href="/account">Regresar a mi cuenta</a></h6>
	            </h6>
          	</li>
          {{/if}}
          <div class="collection">
          	{{#each userRooms}}
	            <a href="/messages/{{user._id}}" class="collection-item row">
	            	<div class="col">
			            {{#if unseen}}
				          <span class="new badge"></span>
				        {{/if}}
				          <img src="{{user.profile.photo}}" class="circle user-room">
				        {{user.profile.name}} {{user.profile.lastName}}
	            	</div>
		            {{#if user.status.online}}
		              <i class="tiny mdi mdi-octagon online col"></i>
		            {{else}}
		              <i class="tiny mdi mdi-octagon-outline col"></i>
		            {{/if}}
	            </a>
       		{{/each}}
          </div>
          <li><a href="/account">Mi cuenta</a></li>
          <li><a href="/account/newItem">Nueva publicación</a></li>
          <li><a href="/account/posts">Mis publicaciones</a></li>
       	  <li ><a href="/logout" class="row logout">Salir<i class="material-icons col right small">input</i></a></li>
     </ul>
   </div>
  </nav>
  <div class="row">
    <div class="col m4 l3 grey lighten-1 row hide-on-small-and-down">
      <div class="collection">
          {{#if userRooms}}
            <h5 class="col white m12">Conversaciones</h5>
          {{else}}
            <h5 class="col white m12"> Aqui van tus conversaciones
              <h6 class="col m12"><a href="/account">Regresar a mi cuenta</a></h6>
            </h5>
          {{/if}}
          {{#each userRooms}}
            <a href="/messages/{{user._id}}" class="collection-item">
            {{#if unseen}}
              <span class="new badge"></span>
            {{/if}}
              <img src="{{user.profile.photo}}" class="circle user-room">
            {{user.profile.name}} {{user.profile.lastName}}
            {{#if user.status.online}}
              <i class="mdi mdi-octagon online"></i>
            {{else}}
              <i class="mdi mdi-octagon-outline "></i>
            {{/if}}
            </a>
        {{/each}}
      </div>
    </div>
    <div class="col s12 m8 l9 ">
      {{> yield}}
    </div>
  </div>
  {{> footer}}
</template>
