<template name="productFirstForm">
  <style media="screen">
    div.chips-autocomplete{
      margin-left: 0.7rem!important;
    }
    div.card-content{
      height: 30rem;
    }
    span.ligth{
      color : #bdbdbd;
    }
    form.first-form{
      margin-top: 2rem;
    }
  </style>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Nuevo producto</span>
          <form id="postForm" class="col s12 row first-form">
            <span class="col s5 ligth">Etiqueta</span>
            <div class="col s8 chips chips-autocomplete"></div>
            <div class="input-field col s12">
              <input id="name" type="text" class="validate " required>
              <label for="name">Nombre</label>
            </div>
            <div class="input-field col s12">
              <textarea id="description" type="text" class="validate materialize-textarea" required></textarea>
              <label for="description">descripcion</label>
            </div>
            <button class="form-button" type="submit" name="button" hidden></button>
          </form>
        </div>
        <div class="card-action text-white">
          <a type="button" name="button" class="btn">deyum</a>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="itemType">
  <style media="screen">
    div.item-type-buttons{
      margin-top: 4rem;
    }
  </style>
  <div class="row main">
    <h5 class="col m12">Que tipo de publicación ofreces ?</h5>
    <div class="row col m8 item-type-buttons">
      <a id="productBtn" class="waves-effect waves-light btn-large col m4" href="/newItem/p"><i class="material-icons left">redeem</i>Producto</a>
      <div class="col m2"></div>
      <a id="serviceBtn" class="waves-effect orange darken-3 btn-large col m4" href="/newItem/s"><i class="material-icons right">work</i>Servicio</a>
    </div>
  </div>
</template>

<template name="productSecondForm">
  <div class="row">
    <span class="col s5 ligth">Valor</span>
    <p class="range-field col s8">
      <input type="range" id="test5" min="0" max="100" required value={{product.price}}/>
    </p>
  </div>
</template>
