<template name="newMessage">
		<style media="screen">
			button {
				position: relative;
				top: 2rem;
			}
			.bottom-sheet{
				position: relative;
				top: 4rem;
			}
		</style>
	  <div id="modal" class="bottom-sheet">
        <div class="content">
          <div class="row">
            <form class="row new-message">
				<div class="input-field col s8">
		          <input id="message" type="text" required class="validate">
		          <label for="message">Escribe un mensaje</label>
		        </div>
				<div class="col 3">
					<button class="waves-effect waves-green btn" type="submit">Enviar</button>
				</div>
            </form>
         </div>
        </div>
    </div>
</template>
