<template name="noInfo">
  <div class="main row">
    {{#if checkOnSale miss 'basicInfo'}}
      <h5 clas="col m12">Debes verificar tu correo y llenar al menos tu nombre y apellido para enviar un mensaje</h5>
    {{else}}
      <h5 clas="col m12">Debes verificar tu correo y llenar tu información de artesano para crear un producto</h5>
    {{/if}}
    <div class="col m12">
      {{> userInfo}}
    </div>
  </div>
</template>

<template name="noCraftInfo">
  <div class="main row">
    <h5 clas="col m12">Debes llenar tu información de artesano para crear un producto</h5>
    <div class="col m12">
      {{> craftInfo}}
    </div>
  </div>
</template>
