<template name="posts">
	<style>
	    div.main-info{
	      margin-top: -1.5rem;
	    }
	    div.card-content{
	      padding: 25px!important;
	    }
	    div.on-sale{
	    	position: relative;
			top: -0.2rem;
			left: 7.6rem;
	    	width: 0; 
	    	height: 0; 
	    	border-top: 10rem solid #cddc39 ; 
	    	border-left: 10rem solid transparent;
	    }
	    h4.promo{
	    	position: relative;
			top: -10rem;
			left: -5.6rem;
			width: 5rem;
	    }
	</style>
	<div class="main row">
		<h4>Mis publicaciones</h4>
		{{#each userPosts}}
			<div class="card col m5 craft-card">
				<div class="card-image" style="background-image : url('{{photos.[0]}}')">
					{{#if checkOnSale onSale 2}}
						<div class="on-sale row">
							<h4 class="promo">{{saleGet}} * {{salePay}}</h4>
						</div>
					{{/if}}
					{{#if checkOnSale onSale 1}}
						<div class="on-sale row white-text">
							<h5 class="col 9">{{percentage}}%</h5>
							<span class="col 12">en compras mayaores a ${{minValue}}</span>
						</div>
					{{/if}}
				</div>
				<div class="card-content row">
					<div class="col m12 row main-info">
						<h4 class="col m6">{{name}}</h4>
						<h5 class="col m3 offset-m3">${{price}}</h5>
					</div>
					<div class="col m12 row">
						{{#each labels}}
						 <div class="chip col">
						    {{this}}
						  </div>
						{{/each}}
					</div>
					<span class="ligth col m12">{{description}}</span>
					{{#if negotiable}}
						<span class="col m12">Es negoaciable</span>
					{{/if}}
					{{#if shipping}}
						{{#if shippingIncluded}}
							<span class="col m12">Envio incluido</span>
						{{else}}
							<span class="col m12">Precio del envio ${{shippingCost}}</span>
						{{/if}}
					{{else}}
						<span class="col">No se realizan envios</span>
					{{/if}}
				</div>
				<div class="card-action">
					<a class="btn-flat" href="/account/product/{{_id}}/basic">Editar</a>
					<a class="btn-flat delete" id="{{_id}}">Eliminar</a>
					<a class="btn-flat" href="/post/{{_id}}">Vista previa</a>
				</div>
			</div>
		{{/each}}
	</div>
</template>