<template name="post">
	<style>
		h6.promo-text{
			margin-top : 2rem;
		}
		div.vendor-card{
			padding : 0px!important;
		}
		div.card-img{
			height: 10rem;
		}
		img.craft-avatar{
			height: 5.7rem;
			width: 7rem;
		}
		i.mdi-octagon{
			margin-top: 2rem;
		}
		div.slider{
			margin-top: 1rem;
			height: 38rem!important;
		}
		div.slider ul.slides{
			height: 93%!important;
		}
		.spaced{
			margin-bottom: 1rem;
		}
		div.social{
			margin-bottom: 0px!important;
		}
		div.card-content{
			margin-bottom: 0px!important;
		}
		span.c-u{
			margin-left: -1rem;
			margin-top: 1rem;
		}
		i.status{
			margin-top: 2rem;
		}
	</style>
	<div class="row main">
		{{#if post}}
		  <div class="col m6 s12">
			  <div class="slider">
			    <ul class="slides">
			      {{#each post.photos}}
		  		      <li>
				        <img src="{{this}}">
				      </li>
			      {{/each}}
			    </ul>
			  </div>
		  </div>
		  <div class="col m6 s12 row">
	  	{{#if checkOnSale post.onSale 1}}
	  		<div class="card col m11 s12 blue-grey darken-1 white-text row">
	  			<span class="card-title col m11 s12"><i class="mdi mdi-gift medium left"></i>Promocion:</span>
					<div class="row col s12 hide-on-large-only"><h4 class="col s3">{{post.percentage}}%</h4><h6 class="col s6 promo-text">de descuento en compras mayores a</h6><h4 class="col s3">${{post.minValue}}</h4></div>
	  			<div class="row col s12 hide-on-med-and-down"><h4 class="col">{{post.percentage}}%</h4><h6 class="col promo-text">de descuento en compras mayores a</h6><h4 class="col">${{post.minValue}}</h4></div>
	  		</div>
	  	{{/if}}
	  	{{#if checkOnSale post.onSale 2}}
	  		<div class="card col m11 s12 blue-grey darken-1 white-text row">
	  			<span class="card-title col m11 s12"><i class="mdi mdi-gift medium left"></i>Promocion:</span>
	  			<div class="row  m4 s6"><h6 class="col promo-text">Paga</h6><h4 class="col">{{post.salePay}}</h4><h6 class="col promo-text">lleva</h6><h4 class="col">{{post.saleGet}}</h4></div>
	  		</div>
	  	{{/if}}
	  	<div class="card col m11 s12 row">
	  		<div class="card-content ">
			  	<h4 class="col">{{post.name}}</h4>
			  		{{#each post.labels}}
			  			<a class="no-color" href="/search?labels[]={{this}}"><div class="chip col">{{this}}</div></a>
			  		{{/each}}
			  	<span class="col m12 spaced s12">{{post.description}}</span>
					<div class="divider col m12 row"></div>
					<div class="section col m12 row">
					{{#if isProduct}}
						<h5 class="col"><i class="material-icons left">payment</i>${{post.price}}</h5><span class="col c-u">c/u</span>
						{{#if post.negotiable}}
							<span class="col m12 s12"><i class="material-icons left">swap_vert</i>Negociable</span>
						{{/if}}
						{{#if post.shipping}}
							{{#if post.shippingIncluded}}
								<span class="col m12 s12"><i class="mdi mdi-truck-delivery left small"></i>Envio incluido</span>
							{{else}}
								<span class="col m12 s12"><i class="mdi mdi-truck-delivery left small"></i>Precio del envio ${{post.shippingCost}}</span>
							{{/if}}
						{{else}}
							<span class="col s12"><i class="material-icons left">not_interested</i>No se realizan envios</span>
						{{/if}}
					{{else}}
						<span class="col m12 s12">El pago de este servicio se hace por</span>
				        {{#if checkOnSale post.paymentType 0}}
				          <h5 class="col m12 s12">Horas ${{post.hourFee}}/hora</h5>
				        {{/if}}
				        {{#if checkOnSale post.paymentType 1}}
				          <h5 class="col m12 s12">Contrato</h5>
				        {{/if}}
				        {{#if checkOnSale post.paymentType 2}}
				          <h5 class="col m12 s12">Otro metodo de pago</h5>
				        {{/if}}
						{{#if post.negotiable}}
							<span class="col m12 s12"><i class="material-icons left">swap_vert</i>Negociable</span>
						{{/if}}
					{{/if}}
					</div>
	  		</div>
	  	</div>

			{{#if owner.profile.craft.name}}
				<div class="card col m11 row vendor-card">
			    <div class="card-content row">
			      <div class="row col m12">
					<img src="{{owner.profile.craft.photo}}" class="circle col craft-avatar">
				    <h4 class="col">{{owner.profile.craft.name}}</h4>
	           	{{#if owner.status.online}}
			            <i class="mdi status mdi-octagon online"></i>
			        {{else}}
			            <i class="mdi status mdi-octagon-outline"></i>
			        {{/if}}
			      </div>
			      <h5 class="col m12 s12">{{owner.profile.craft.city}}</h5>
			      <h6 class="col m12 s12 spaced">{{owner.profile.craft.address}}</h6>
						<div class="row col m4 s12 social">
							{{#if owner.profile.craft.facebook}}
								<a class="no-color" href="{{owner.profile.craft.facebook}}">
									<i class="mdi small mdi-facebook"></i>
								</a>
							{{/if}}
							{{#if owner.profile.craft.instagram}}
								<a class="no-color" href="{{owner.profile.craft.instagram}}">
									<i class="mdi small mdi-instagram"></i>
								</a>
							{{/if}}
						</div>
			      <div class="col m12 s12">
			        <i class="material-icons">call</i>
			        <span class="">{{owner.profile.craft.movil}}</span>
			      </div>
			      {{#if owner.profile.craft.telephone}}
			        <div class="col m12 s12">
			          <i class="material-icons">stay_current_portrait</i>
			          <span class="">{{owner.profile.craft.telephone}}</span>
			        </div>
			      {{/if}}
			      {{#if owner.profile.craft.webPage}}
							<a href="{{owner.profile.craft.webPage}}" class="col m12 no-color">
								<i class="material-icons">language</i>
								<span>{{owner.profile.craft.webPage}}</span>
							</a>
			      {{/if}}
			    </div>
		  		<div class="card-action row">
		  			<a class="btn-flat col" href="/user/{{owner._id}}">Perfil del vendedor</a>
		  			<a class="btn-flat col" href="/messages/{{owner._id}}">Enviar mensaje</a>
		  		</div>
		  	</div>
			{{else}}
				<div class="card col m11 row vendor-card">
					<div class="card-content row">
						<div class="row col m12">
						<img src="{{owner.profile.photo}}" class="circle col craft-avatar">
						<h4 class="col">{{owner.profile.name}} {{owner.profile.lastName}}</h4>
							{{#if owner.status.online}}
									<i class="mdi status mdi-octagon online"></i>
							{{else}}
									<i class="mdi status mdi-octagon-outline"></i>
							{{/if}}
						</div>
						{{#if owner.profile.telephone}}
							<div class="col m12 s12">
								<i class="material-icons">call</i>
								<span class="">{{owner.profile.telephone}}</span>
							</div>
						{{/if}}
						<div class="col m12 s12">
							<i class="material-icons">email</i>
							<span class="">{{ownerEmail}}</span>
						</div>
					</div>
					<div class="card-action row">
						<a class="btn-flat col" href="/user/{{owner._id}}">Perfil del vendedor</a>
						<a class="btn-flat col" href="/messages/{{owner._id}}">Enviar mensaje</a>
					</div>
				</div>
			{{/if}}


	  </div>
		{{else}}
			<h4 class="col m6 s12 offset-m3">La publicación que buscas no existe =(</h4>
		{{/if}}
	</div>
</template>
