<template name="profile">
  <style media="screen">
    .online{
      color : #8BC34A
    }
    .offline{
      color : grey
    }
    span.ligth{
      color : grey;
    }
    div.card-content h3{
      margin-top: -1rem;
    }
    div.card-content{
      padding: 25px!important;
    }
    div.contact{
      margin-bottom: -0.5rem!important;
    }
    img.craft-user{
      height: 5rem;
      width: 6.1rem!important;
    }
    div.user-profile{
      margin-bottom: 0rem!important;
    }
    i.online{
      background-color: none!important;
      color: #9ccc65
    }
    .spaced{
      margin-bottom: 1rem;
    }
    div.social{
      margin-bottom: 0px!important;
    }
    div.card-content{
      margin-bottom: 0px!important;
    }
    div.posts{
      max-height: 89rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
  </style>
  <div class="row container">
      {{#if userProfile.profile.craft.name}}
        <div class="col m6 grey lighten-1 posts">
          <h4>Productos/Servicios</h4>
          <div class="col m12 row">
            {{#each posts}}
              {{> postCard post=this}}
            {{/each}}
          </div>
        </div>
        <div class="col m6">
          {{> craftProfile}}
          {{> userProfile}}
        </div>
      {{else}}
        {{#if userProfile.profile.name}}
          <div class="col m6  offset-m3">
            {{> userProfile}}
          </div>
        {{else}}
          <h4 class="col m6 offset-m3">El usuario que buscas no esta disponible</h4>
        {{/if}}
      {{/if}}
  </div>
</template>

<template name="craftProfile">
  <div class="card white darken-1 col s12 craft-card">
    <div class="card-image" style="background-image : url('{{userProfile.profile.craft.photo}}')"></div>
    <div class="card-content row">
      <h3 class="col m12">{{userProfile.profile.craft.name}}</h3>
      <h5 class="col m12">{{userProfile.profile.craft.city}}</h5>
      <h6 class="col m12 spaced">{{userProfile.profile.craft.address}}</h6>
      <span class="ligth col m12 spaced">{{userProfile.profile.craft.description}}</span>
      <div class="row col m4 social">
        {{#if userProfile.profile.craft.facebook}}
          <a href="{{userProfile.profile.craft.facebook}}" class="m12">
            <i class="mdi small mdi-facebook"></i>
          </a>
        {{/if}}
        {{#if userProfile.profile.craft.instagram}}
          <a href="{{userProfile.profile.craft.instagram}}" class="m12">
            <i class="mdi small mdi-instagram"></i>
          </a>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="card white col s12">
    <div class="card-content contact row">
      <div class="col m12">
        <i class="material-icons">call</i>
        <span class="">{{userProfile.profile.craft.movil}}</span>
      </div>
      {{#if userProfile.profile.craft.telephone}}
        <div class="col m12">
          <i class="material-icons">stay_current_portrait</i>
          <span class="">{{userProfile.profile.craft.telephone}}</span>
        </div>
      {{/if}}
      {{#if userProfile.profile.craft.webPage}}
        <a href="{{userProfile.profile.craft.webPage}}" class="col m12">
          <i class="material-icons">language</i>
          <span class="">{{userProfile.profile.craft.webPage}}</span>
        </a>
      {{/if}}
    </div>
  </div>
</template>
<template name="userProfile">
  <div class="card white darken-1 col s12">
    <div class="card-content white small row user-profile row">
      <div class="col m9 s12" >
        <div class="row">
          <span class="col card-title">{{userProfile.profile.name}}{{userProfile.profile.lastName}}</span>
          {{#if userProfile.status.online}}
            <i class="mdi mdi-octagon online"></i>
          {{else}}
            <i class="mdi mdi-octagon-outline"></i>
          {{/if}}
        </div>
        <span class="col m12">{{userProfileEmail}}</span>
        <span class="col m12 ligth">{{userProfile.profile.telephone}}</span>
      </div>
      <img src="{{userProfile.profile.photo}}" class="circle  col m3 craft-user">
    </div>
    <div class="card-action">
      <a href="/messages/{{userProfile._id}}" class="btn-flat">Enviar Mensaje</a>
    </div>
  </div>
</template>
