<template name="search">
  <style>
    nav.search{
      margin-top: 1rem;
    }
    div.filter-buttons{
      margin-bottom: 0px!important;
    }
    div.post-card{
      height: 32rem;
      margin-bottom: 0rem!important;
    }
    div.preloader-wrapper{
      margin-top: 10rem;
      margin-left: 15rem;
    }
    div.chips-autocomplete{
      width: 92%;
      margin-left: 0.7rem;
    }
    div.post-card{
      margin-bottom: 0px!important;
    }
  </style>
  <div class="row col m12">
    <div class="col m10 s12">
        <nav class="search deep-orange lighten-1">
          <div class="nav-wrapper row">
            <form class="search-form hide-on-large-only">
              <div class="input-field">
                <input id="search" type="search" name="searchInput" required placeholder="busca lo que sea que necesites.">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
              <button type="submit" hidden name="button"></button>
            </form>
            <form class="search-form hide-on-med-and-down">
              <div class="input-field">
                <input id="search" type="search" name="searchInput" required placeholder="busca lo que sea que necesites. Ej:reparacion de muebles en Quito">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
              <button type="submit" hidden name="button"></button>
            </form>
          </div>
        </nav>
      </div>
      <div class="col m12 row">
        {{#if loading}}
          {{#if noResults}}
            <h5 class="col m10"> No se encontrar resultados, busca denuevo...</h5>
          {{else}}
            {{#if query.criteria}}
              <h6 class="col m10"> Resultados de {{query.criteria}}</h6>
            {{else}}
              <h6 class="col m10"> Resultados de {{query.labels.[0]}}</h6>
            {{/if}}
          {{/if}}
          {{#each lastSearch}}
            <div class="row col m4 post-card">
              {{> postCard post=this}}
            </div>
          {{/each}}
        {{else}}
          <div class="preloader-wrapper big active offset-m4">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
  </div>
</template>

<template name="postCard">
  <style>
    span.description {
      margin-bottom: 1rem;
    }
    h4.promo{
      position: relative;
      top: -10rem;
      left: -5.6rem;
      width: 5rem;
    }
    span.small{
      font-size: 10px;
      margin-left: 0.1rem;
      width: 7rem;
      margin-top: -0.6rem;
    }
    div.promo{
      position: relative;
      top: -10rem;
      right: 5rem;
    }
    a.post{
      color: inherit;
    }
    div.ribbon-header{
      position: relative;
      width: 9rem;
      left: 3.5rem;
      font-size: larger;
    }
    span.post-type{
      font-size: 0.6rem;
      font-weight: bold;
    }
    div.labels{
      margin-top: -1rem;
    }
    .align-pay-forms{
      margin-left: 0.3rem!important;
      margin-right: 1.3rem!important;
    }
    h5.name{
      margin-top: 0;
    }
    div.post-content{
      margin-bottom: 0px!important;
    }
    h5.price{
      margin-top: 0rem
    }
  </style>
  <a class="post" href="/post/{{post._id}}">
    <div class="card col m12 craft-card hoverable">
      <div class="card-image" style="background-image : url('{{post.photos.[0]}}')">
        {{#if checkOnSale post.onSale 2}}
            <div class="ribbon ribbon-top-right"><span><h5 class="ribbon-header">{{post.saleGet}} * {{post.salePay}}</h5></span></div>
        {{/if}}
        {{#if checkOnSale post.onSale 1}}
          <div class="ribbon ribbon-top-right row">
            <span>
              <div class="ribbon-header">
                  {{post.percentage}}%
              </div>
              <div class="small-promo">
                en compras mayaores a ${{post.minValue}}
              </div>
            </span>
          </div>
        {{/if}}
      </div>
      <div class="card-content row post-content">
        {{#if checkOnSale post.type 's'}}
          <h5 class="col m12 name row">{{post.name}}
              <span class="post-type  yellow accent-3">servicio</span>
          </h5>
        {{else}}
          <div class="col m12 row">
            <h5 class="col m9 s9 name">{{post.name}}
                <span class="post-type  yellow accent-3">producto</span>
            </h5>
            <h5 class="col m2 s2 price">${{post.price}}</h5>
          </div>
        {{/if}}
        <div class="col m12 row labels s12">
          {{#each post.labels}}
              <a class="no-color" href="/search?labels[]={{this}}"><div class="chip col">{{this}}</div></a>
          {{/each}}
        </div>
        {{#if checkOnSale post.paymentType 0}}
          <span class="col m12 s12"><i class="mdi mdi-square-inc-cash left align-pay-forms"></i>Pago por horas ${{post.hourFee}}/hora</span>
        {{/if}}
        {{#if checkOnSale post.paymentType 1}}
          <span class="col m12 s12"><i class="mdi mdi-square-inc-cash left align-pay-forms"></i>Por contrato</span>
        {{/if}}
        {{#if checkOnSale post.paymentType 2}}
          <span class="col m12 s12"><i class="mdi mdi-square-inc-cash left align-pay-forms"></i>Otro metodo de pago</span>
        {{/if}}
        <!-- <span class="ligth col m12 s12 description">{{post.description}}</span> -->
        {{#if post.negotiable}}
          <span class="col m12 s12"><i class="material-icons left">swap_vert</i>Negociable</span>
        {{/if}}
        {{#if post.shippingIncluded}}
          <span class="col m12 s12"><i class="mdi mdi-truck-delivery left small"></i>Envio incluido</span>
        {{/if}}
<!--         {{#if post.shipping}}
          {{#if post.shippingIncluded}}
            <span class="col m12"><i class="mdi mdi-truck-delivery left small"></i>Envio incluido</span>
          {{else}}
            <span class="col m12"><i class="mdi mdi-truck-delivery left small"></i>Precio del envio ${{post.shippingCost}}</span>
          {{/if}}
        {{else}}
          <span class="col"><i class="material-icons left">not_interested</i>No se realizan envios</span>
        {{/if}} -->
      </div>
    </div>
  </a>
</template>
