<template name="searchBar">
  <style>
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #e0e0e0;
        opacity: 1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: #e0e0e0;
       opacity:  1;
    }
  </style>
  <nav class="teal accent-4">
    <div class="nav-wrapper row">
      <form class="search-form">
        <div class="input-field">
          <input id="search" type="search" name="searchInput" required placeholder="Búsqueda. Ej:reparación de muebles">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
        <button type="submit" hidden name="button"></button>
      </form>
    </div>
  </nav>
</template>
