<template name="terms">
  <style media="screen">
    p b{
      font-size : larger
    }
  </style>
  <div class="row main">
    <div class="grey lighten-4">
      <div class="section container">
        <div class="card">
          <div class="card-content">
            <h4>Terminos y Condiciones</h4>
            <br>
            <h5>INFORMACIÓN RELEVANTE</h5>
            <p>Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan.
              El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento.
              Todas los productos  que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso estarían sujetas a
              sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos
               y definición de una contraseña.</p>
            <p>El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos.
              craft-ec.com no asume la responsabilidad en caso de que entregue dicha clave a terceros.</p>
            <p>Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago,
              validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado.
              En algunos casos puede que se requiera una verificación por medio de correo electrónico.</p>
            <p>Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.</p>
            <br>
            <br>
            <h5>1. INFORMACIÓN SOBRE NOSOTROS</h5>
            <p><b>www.craft-ec.com</b>  es un sitio propiedad de Poncho Dev, una compañía ecuatoriana registrada en Ecuador.
              La dirección comercial principal de este sitio web se encuentra en el domicilio social,
              en Quito, Isla Seymour y Pablo del Solar, Edificio Monterrey.</p>
            <p>Craft EC se basa en la confianza y en la honestidad de sus Usuarios, para que se puedan realizar transacciones en un ambiente amistoso y confiable. Craft EC  efectúa una serie de procesos conducentes a lograr una mayor seguridad y
              confiabilidad del sitio y los Usuarios aceptan de antemano contribuir en su ejecución.</p>
            <br>
            <h5>2. CAPACIDAD</h5>
            <p>Nuestros servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios menores de edad, las personas que no tengan esa capacidad o las personas que hayan sido declarados
              incapaces judicialmente o dados de baja del sistema de <b>Craft EC</b>, temporal o definitivamente, por haber incumplido los Términos y Condiciones Generales o por haber incurrido a criterio de <b>Craft EC</b>  en conductas o actos dolosos o
              fraudulentos mediante el uso del sitio o de los servicios. </p>
            <br>
            <h5>3. REGISTRO</h5>
            <p>Es obligatorio completar el formulario de registro para poder utilizar los servicios que brinda Craft EC. El futuro Usuario deberá completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales").
              Todos los campos deberán ser completados con la información requerida. El Usuario deberá actualizar los Datos Personales conforme resulte necesario.</p>
            <p>Un Ejecutivo de Servicio al Cliente contactará al Usuario telefónicamente o por cualquier otro medio para verificar los datos ingresados. Craft EC se reserva el derecho de inhabilitar a aquellos
               Usuarios que en un período razonable no logre contactar o bien al momento de la verificación no quieran confirmar sus datos. En estos casos de inhabilitación, se dará de baja todos los productos
               publicados, así como las ofertas realizadas, sin que ello genere algún derecho a resarcimiento. El Usuario accederá a su Cuenta Personal mediante el ingreso de su Seudónimo y Password o Clave de
                Seguridad personal, ambos elegidos por el Usuario al momento del registro.</p>
            <p>El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad. El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido
               al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a Craft EC en forma inmediata y por medio idóneo y fehaciente, cualquier uso no
               autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. </p>
            <p>El seudónimo que el Usuario utilice dentro de Craft EC no podrá generar confusiones con el nombre de Craft EC. Por lo tanto no se podrán utilizar seudónimos tales como "Craft EC1" o "craftEcu" o cualquier
              seudónimo similar, de tal forma que los demás usuarios pueden pensar que los artículos consignados por estas personas pertenecen a Craft EC o hacen parte de promociones llevadas a cabo directamente por Craft EC.
               Craft EC se reserva el derecho de eliminar del sistema los Cuentas o Apodos que a criterio de Craft EC puedan tener las características a que hace referencia este párrafo. Craft EC se reserva el derecho(bajo fundamento)
                de rechazar cualquier solicitud de inscripción o de cancelar una inscripción previamente aceptada,hecho que será comunicado al Usuario.</p>
            <br>
            <h5>3. MODIFICACIONES DEL ACUERDO</h5>
            <p>De acuerdo a normas legales, regulaciones del mercado sobre oferta y demanda y cuaquier otra situación, los términos y condiciones de este contrato podrán ser modificadas, las cuales serán debidamente
               notificadas al Usuario publicando una versión actualizada de dichos términos y condiciones en el sitio. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones introducidas, el
               Usuario deberá comunicar por e-mail a info@craft-ec.com si no acepta las mismas; en ese caso quedará disuelto el vínculo contractual. Vencido este plazo, se considerará que el Usuario acepta tácitamente
               los nuevos términos y el contrato continuará vinculando a ambas partes.</p>
            <br>
            <h5>4. LISTADO DE BIENES</h5>
            <p>El Usuario podrá agregar en las listas de bienes ofrecidos, los artículos que desea vender e ingresarlos según la clase y tipo de objeto en la correspondiente categoría o sub-categoría. Las listas pueden
              componerse de gráficos, textos, descripciones y fotos de los bienes ofrecidos, siempre que no violen ninguna disposición de este acuerdo. El bien ofrecido por el Usuario Vendedor debe ser exactamente
              descrito en cuanto al estado, condición, tamaño, marca, modelo, color, material y demás características relevantes. En el caso de que se incluya una fotografía, esta deberá corresponder específicamente
               al artículo que se ofrece, salvo que se trate de bienes o artículos nuevos. Se entiende y presume que mediante la inclusión del bien en las listas de bienes ofrecidos en Craft EC, el Usuario acepta que
              tiene la intención y el derecho de vender el bien por él ofrecido, o está facultado para ello por su titular.</p>
            <br>
            <h5>5. ARTICULOS PROHIBIDOS</h5>
            <p>Sólo podrán ser ingresados en las listas de bienes ofrecidos, aquellos cuya venta no se encuentre tácita o expresamente prohibida en este acuerdo o por la ley vigente.
              Está expresamente prohibida la venta de armas de fuego, estupefacientes, propiedad robada, órganos o residuos humanos, animales salvajes o especies en vías de extinción,
               o cuya venta se encuentre expresamente prohibida por legislaciones vigentes, moneda o estampillas falsificadas, artículos de contrabando, artículos falsificados o adulterados, pólvora o material explosivo,
               drogas sujetas a prescripción médica, acciones de empresas que se transen en Bolsa de Valores, billetes de lotería, listas de correo o bases de datos personales, servicios relacionados con la prostitución
               o similares, material, obsceno o contrario a la moral y buenas costumbres, o cuya venta esté expresamente prohibida por las leyes vigentes o que promuevan la violencia y/o discriminación basada en cuestiones
               de raza, religión, sexo, nacionalidad, orientación sexual o de cualquier otro tipo. Así mismo se prohíbe la venta de discos compactos que contengan música en formato MP3, cuándo la misma no esté expresamente
               autorizada por el artista o compañía discográfica propietaria de los respectivos derechos, o infrinja alguna legislación. Tampoco podrán ser listados u ofrecidos aquellos artículos que violen leyes sobre piratería
               informática, protección de software, derecho de autor, patentes, marcas, modelos y diseños industriales o secretos industriales, o aquellos bienes que el Usuario carece de derecho a vender, o que únicamente puede
               vender con participación o conformidad de terceros, y bienes embargados o afectados por alguna restricción de cualquier especie, en cuanto a su uso, explotación o transferencia de dominio o posesión. Es responsabilidad
               exclusiva del Usuario velar por la legalidad de la venta de sus artículos o servicios y Craft EC no asume ninguna responsabilidad por la existencia en el sitio o por transacciones sobre artículos o servicios que no
               cumplan con esta restricción, por cuanto Craft EC es considerado un intermediario entre Vendedores Ofertantes y Compradores Demandantes. Para obtener mayor información sobre artículos o servicios prohibidos, consulte
               el anexo Políticas sobre publicación de artículos y Servicios en Craft EC ,parte integrante de este contrato.
            </p>
            <br>
            <h5>7. OBLIGACIONES DEL COMPRADOR</h5>
            <p>Durante el plazo fijado por el Usuario Vendedor, los Usuarios interesados realizarán ofertas de compra. La oferta de venta se cierra una vez que vence el plazo estipulado por el Vendedor; resultará ganador aquel Usuario
              que haya realizado la mayor oferta, siempre que ésta haya superado o igualado el precio base fijado y/o el precio de reserva por el Vendedor.</p>
            <p>En el caso que un Usuario realice una contraoferta que se encuentre por debajo del precio base establecido por el Vendedor, ésta podrá ser aceptada o rechazada por el Vendedor.</p>
            <p>El Usuario que haya realizado la oferta más alta quedará obligado a cumplir con la misma, en las formas y condiciones que haya fijado el Usuario Vendedor. De la misma manera
              estará obligado a cumplir el Usuario que haya realizado una contraoferta cuando esta haya sido expresamente aceptada por el Vendedor bajo el mecanismo que para el efecto
              establezca Craft EC. A pesar de que Craft EC no puede obligar al Usuario Comprador a completar la transacción, el Usuario Vendedor podrá iniciar contra el Usuario Comprador,
              todas las acciones legales que estime pertinentes para obtener el cumplimiento de su obligación. </p>
            <p>La oferta de compra realizada por los Usuarios interesados es irrevocable y no puede ser retractada, cancelada o retirada, salvo en circunstancias excepcionales, esto es, cuando
               el Usuario Vendedor haya descrito o mostrado dolosamente o de mala fe, con la intención de confundir a los interesados, un bien distinto al que finalmente ha ofrecido en venta;
               o bien, cuando no haya podido verificarse la información o identidad del Usuario Vendedor; asimismo en los casos en los que se haya modificado la descripción del bien después de
               realizada alguna oferta.</p>
            <p>La cantidad ofrecida también podrá ser retractada o cancelada, cuando surgiera de la misma un evidente error tipográfico. También será irrevocable en los términos y condiciones aquí descritos, cualquier contraoferta efectuada
               por los Usuarios, cuando quiera que esta haya sido aceptada por el Vendedor. </p>
            <p>Las ofertas o contraofertas de compra sólo serán consideradas válidas, una vez que hayan sido procesadas por el sistema informático de Craft EC.</p>
            <br>
            <h5>8. OBLIGACIONES DEL VENDEDOR</h5>
            <p>El Usuario Vendedor debe tener capacidad legal para vender el bien objeto de su oferta. Además debe tener el bien en el mismo estado y condiciones en los que se lo publicará en las listas de bienes ofrecidos de Craft EC.</p>
            <p>El Usuario Vendedor no podrá retractarse o cancelar una venta después de haber recibido una oferta que sea mayor o igual a la base por él fijada. Solamente en casos excepcionales le estará permitido al Usuario Vendedor retractar
               la venta, cuando no haya podido acordar con el Usuario Comprador sobre la forma de pago, de entrega o no sea posible verificar la verdadera identidad o demás información del Comprador.</p>
            <p>Tampoco podrá retractarse o cancelar la venta cuando haya aceptado una contraoferta en la forma prevista por el sistema informático de Craft EC.</p>
            <p>Cuando una transacción se concrete el Usuario Vendedor deberá pagar una comisión equivalente a un porcentaje de dicha transacción a Craft EC. Dichas comisiones deberán ser abonadas incluso en aquellos casos que la transacción no se
               haya concretado por incumplimiento o responsabilidad del Usuario vendedor. Además, el Vendedor deberá abonar lo adeudado por otros conceptos. </p>
            <p>El Vendedor será el responsable por todas las obligaciones y cargas impositivas que surgieren por la venta de sus artículos, sin que pudiera imputársele a Craft EC algún tipo de responsabilidad por incumplimientos en tal sentido.</p>
            <p>A pesar de que Craft EC no puede obligar al Usuario Vendedor a cumplir con la obligación o a completar la transacción, el Usuario Comprador cuya oferta resultó seleccionada, o cuya contraoferta fue aceptada en la forma arriba indicada,
             podrá iniciar contra el Usuario Vendedor las acciones legales que estime pertinentes, para obtener el cumplimiento de su obligación.</p>
             <br>
            <h5>9. SERVICIOS POR CONTRATO</h5>
            <p>Craft EC unicamente realiza el papel de intermediario dentro de la venta de servicios por contrato. Cada contrato esta regido bajo la Ley de Contratacion Publica del Ecuador, en caso de incumpliento por parte de empleado o empleador,
              Craft EC se desliga de cualquier responsabilidad y la parte afectada podra tomar acciones legales. Craft EC se compromete a dar de baja a aquel usuario o publicacion.</p>
            <h5>10. PROHIBICIONES</h5>
            <p>Está terminantemente prohibido, la manipulación de los precios por el Usuario Vendedor. La utilización de una segunda cuenta (a su nombre o de un tercero), para realizar ofertas sobre un bien suyo, a fin de elevar el precio, no está permitida.
               El Usuario Vendedor no puede influir sobre la puja entre distintas ofertas, ni mantener ningún tipo de comunicación por e-mail, o por cualquier otro medio durante la oferta del bien con ninguno de los Usuarios que participan en la misma.
               Tampoco podrá dar a conocer sus datos personales por ningún medio antes que termine el plazo de la oferta. Este tipo de actividades será investigado por Craft EC y el infractor podrá ser sancionado con la suspensión o cancelación de la
               operación e incluso de su inscripción como Usuario de Craft EC, sin perjuicio de las acciones legales a que pueda dar lugar por la configuración de delitos o contravenciones o los perjuicios civiles que pueda causar a los Usuarios oferentes.</p>
            <br>
            <h5>11. VIOLACIONES DEL SISTEMA O BASES DE DATOS</h5>
            <p>No está permitido el uso de ningún dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operatoria de Craft EC como en las ofertas o en las bases de datos de Craft EC.</p>
            <p>Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de autor y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones
              previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.</p>
            <br>
            <h5>12. SANCIONES</h5>
            <p>Craft EC podrá advertir, suspender o cancelar, temporal o definitivamente la Cuenta de un Usuario en cualquier momento, e iniciar las acciones legales que correspondan, si se quebrantara cualquiera de las estipulaciones de este contrato,
              si se incurre a criterio de Craft EC en conductas o actos dolosos o fraudulentos, o bien si no pudiera verificarse la identidad del Usuario o cualquier información proporcionada por el mismo fuere errónea. En el caso de la suspensión o inhabilitación
              de un Usuario, todos los productos que tuviera publicados, y las ofertas realizadas también serán dadas de baja.</p>
            <p>Craft EC se reserva el derecho de cancelar la Cuenta del Usuario que hubiere incumplido sus obligaciones derivadas de una transacción, o si se detectara en su conducta intencionalidad de perjudicar o defraudar a otros Usuarios. </p>
            <br>
            <h5>12. SUSPENSIÓN DE TRANSACCIONES</h5>
            <p>Craft EC podrá aplazar, interrumpir, o terminar una transacción en cualquier momento en virtud de una violación a las cláusulas previstas en este acuerdo, por no estar verificados los datos del vendedor o del comprador o por cualquier otra razón.
               Craft EC se reserva el derecho a cancelar una transacción por razones no mencionadas anteriormente o si considera que el Usuario Comprador o Vendedor ha incurrido en algún error involuntario o por cualquier otra razón que Craft EC considere justificada.</p>
            <br>
            <h5>13. RESPONSABILIDAD</h5>
            <p>El Usuario acepta que al realizar transacciones con otros Usuarios o terceros lo hace bajo su propio riesgo. El Usuario cuenta con un sistema de información sobre Usuarios, así como un sistema de calificaciones actualizado periódicamente por los mismos Usuarios.
               Esto ayudará a evaluar al Usuario con el cual habrá de realizar la transacción. Craft EC NO será responsable por las calificaciones, opiniones y/o comentarios que sus usuarios pongan en cualquier sección dentro de Craft EC, puesto que tales criterios y
               calificaciones son de la autoría y responsabilidad de los anunciantes y Usuarios.</p>
            <p>Tales comentarios serán incluidos bajo exclusiva responsabilidad de los Usuarios que los emitan, tal como se expresa en estos Términos y Condiciones Generales y el anexo Reglas sobre Calificación de Usuarios, parte integrante de este contrato.</p>
            <p>En ningún caso Craft EC se hace responsable por lucro cesante, o por cualquier otro perjuicio que haya podido sufrir el Usuario, debido a las transacciones realizadas o no realizadas a través de Craft EC,por cuanto tales transacciones se realizan entre
              Usuarios Vendedores y Compradores de productos y servicios, y Craft EC proporciona el medio a través del cual dichas transacciones pueden realizarse.</p>
            <p>Craft EC NO será responsable por las transacciones que se lleven a cabo entre los Usuarios, o entre los Usuarios y terceros, por cuanto tales transacciones se realizan entre Usuarios Vendedores y Compradores de productos y servicios, y Craft EC proporciona el
               medio al través del cual dichas transacciones pueden realizarse. En caso que uno o más Usuarios o algún tercero inicie cualquier tipo de reclamo o acciones legales contra otro u otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos reclamos
               o acciones eximen de toda responsabilidad a Craft EC y a sus directores, gerentes, empleados, agentes, operarios, representantes y apoderados, por cuanto tales transacciones se realizan entre Usuarios Vendedores y Compradores de productos y servicios y Craft
               EC proporciona el medio a través del cual dichas transacciones pueden realizarse.</p>
            <br>
            <h5>14. ALCANCE DE LOS SERVICIOS DE CRAFT EC</h5>
            <p>Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre Craft EC y el Usuario. Craft EC no será responsable respecto de la calidad, cantidad, estado, integridad o legitimidad de los bienes ofrecidos, adquiridos o
              enajenados por los Usuarios, así como de la capacidad para contratar de los Usuarios. Craft EC no otorga garantía de evicción ni por vicios ocultos o aparentes de los bienes objeto de las transacciones entre los Usuarios, por cuanto tales transacciones se
              realizan entre Usuarios Vendedores y Compradores de productos y servicios y Craft EC proporciona el medio a través del cual dichas transacciones pueden realizarse. Craft EC no será responsable por la solvencia del Usuario Comprador. El Usuario deberá realizar
              los pagos correspondientes por envíos, servicios y otros gastos en que incurra por la oferta, compra, listado de bienes a rematar, y por las transacciones realizadas a través de Craft EC. El Usuario reconoce que la transferencia de bienes inmuebles o
              registrables está sujeta a regulaciones específicas con las cuales deberá cumplir. El Usuario acepta que la publicidad de terceros que aparezca en la pantalla es parte inseparable de los servicios de Craft EC. Craft EC no garantiza la veracidad de dicha
              publicidad y no será responsable por la correspondencia o contratos que el Usuario celebre con dichos terceros, por cuanto tales transacciones se realizan entre Usuarios Vendedores y Compradores de productos y servicios y Craft EC proporciona el medio a
              través del cual dichas transacciones pueden realizarse.</p>
            <br>
            <h5>15. FALLAS EN EL SISTEMA</h5>
            <p>Craft EC no se responsabiliza por cualquier daño, perjuicio o pérdida en el equipo del Usuario causado por fallas en el sistema, en el servidor o en Internet, a no ser que se compruebe que por acción, omisión, dolo, negligencia por parte de Craft EC.
              Craft EC tampoco será responsable por cualquier virus que pudiera infectar el equipo del Usuario como consecuencia del acceso, uso o examen del Sitio o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el
              mismo a no ser que se compruebe acción, omisión, dolo, negligencia por parte de Craft EC. Los Usuarios NO podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas
               en los sistemas o en Internet a no ser que se compruege acción, omisión, dolo,negligencia por parte de Craft EC. Craft EC no garantiza el acceso y uso continuado o ininterrumpido de su Sitio,por causas externas a no ser que se compruebe que por acción,
               omisió,dolo,negligencia por parte de Craft EC se produjo tal interrupción. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a Craft EC; en tales casos se
               procurará restablecerlo con la mayor rapidez posible sin que por ello pueda imputársele algún tipo de responsabilidad.</p>
            <br>
            <h5>16. A. TARIFAS</h5>
            <p>El registro en Craft EC es gratuito. Para poder listar un bien en las categorías o subcategorías correspondientes a artículos destacados, vidrieras de fotos o regalos o cualquier otra que se agregue con posterioridad, con el fin de destacar el artículo
               publicado, el Usuario deberá abonar una tarifa. </p>
            <p>Adicionalmente cuando el Usuario Vendedor ingrese el o los bienes en las listas de bienes a ser ofrecidos, aparecerá un resumen del monto que deberá abonar por agregar el artículo el bien a dicha lista. Todas las tarifas deberán ser abonadas en DOLARES
              NORTEAMERICANOS. Craft EC se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier momento. No obstante respetará las comisiones establecidas para aquellos usuarios que hayan publicado sus anuncios aceptando el
              pago de comisiones vigentes al momento de tales publicaciones. Los cambios y modificaciones en comisiones se aplicarán para nuevas publicaciones que realicen los Usuarios.</p>
            <br>
            <h5>18. PROPIEDAD INTELECTUAL</h5>
            <p>Los contenidos de las pantallas relativas a los servicios de Craft EC como así también los programas, bases de datos, redes, archivos que permiten al Usuario acceder y usar su Cuenta, son de propiedad de Craft EC.com Inc. y están protegidas por las leyes
               y tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, están penados por la ley con sanciones civiles y penales, y serán
                objeto de todas las acciones judiciales pertinentes.</p>
            <br>
            <h5>20. LEY APLICABLE</h5>
            <p>Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República del Ecuador.</p>
            <br>
            <h5>21. JURISDICCIÓN APLICABLE</h5>
            <p>Para todo lo relativo a la interpretación y cumplimiento de este Contrato, las partes se someten a las leyes aplicables y a los Tribunales competentes de la Ciudad de Quito, y renuncian a cualquier otro fuero que por razón de sus domicilios presentes o
              futuros pudiere corresponderles.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax-container last">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/market-776944_1920.jpg"></div>
    </div>
  </div>
</template>
