<template name="terms">
  <div class="row main">
    <div class="parallax-container">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/market-776944_1920.jpg"></div>
    </div>
    <div class="section white container">
      <h4>Terminos y Condiciones</h4>
      <h5>Acerca de la Información</h5>
      <p>La información brindada por el usuario sera publicada bajo su propia responsabilidad afirmando que la informacion es 100% real</p>
      <h5>Acerca de las Publicaciones</h5>
      <p>La infomracion de las publicaciones debe ser 100% real segurando que el producto o servicio que se ofrece es legítimo</p>
      <h5>Acerca de la mensajeria instantanea</h5>
      <p>Craft ec brinda el servicio de mensajería instantanea para un mejor acercamiento entre cliente y proveedor. Craft ec no se responsabiliza por el mal uso de este medio</p>
    </div>
    <div class="parallax-container last">
      <div class="parallax"><img src="https://s3.us-east-2.amazonaws.com/craft-work/hat-436029_1920.jpg"></div>
    </div>
  </div>
</template>
